@charset "UTF-8";
/*  utilice el mixin para hacer la imagen cabecera de las paginas "educación" y "servicios" donde 
tienen las mismas propiedades pero cambia la imagen de fondo.  */
/* El otro mixin esta utilizado en Subclaseservicios.scss  */
/* El extend está utilizado en la clase "turnos.scss  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.header {
  background-color: rgb(17, 15, 15);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
}
.header__p {
  color: white;
  display: flex;
  align-items: center;
  font-size: 30px;
}

.logo {
  max-width: 130px;
}

.main {
  background-image: url(../../Imagenes/indexPrincipal.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1.5rem;
  color: rgb(133, 38, 38);
}
.hero .hero__h2, .hero .hero__p {
  text-transform: uppercase;
  font-weight: 600;
}
.hero .hero__p {
  font-size: 15px;
}

.body {
  background-color: whitesmoke;
}

.card {
  padding: 0rem;
  margin: 1rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly !important;
}
.card .card-img-top {
  height: 200px;
}
.card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.card .card-body .card-title {
  font-weight: 600;
  font-size: 22px;
}

.cards1 {
  background-color: rgba(230, 108, 48, 0.742);
}
.cards1 .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.cards1 .card-img-top {
  height: 200px;
}
.cards1 .card_boton {
  background-color: #0d6efd;
}
.cards1 .card_boton:hover {
  transition-duration: 400ms;
  background-color: red;
}

.footer {
  display: flex;
  height: 22vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  bottom: 0;
}
.footer__img {
  height: 6.25rem;
}

.kinesiologos {
  padding: 0 0.5rem;
}
.kinesiologos .kinesiologos__title {
  text-align: center;
  margin-top: 2rem;
}
.kinesiologos .kinesiologos__section {
  margin: 2.5rem 0.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 1.5rem;
}
.kinesiologos .kinesiologos__section .kinesiologos__nav {
  display: flex;
  padding: 1rem 0.5rem;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-color: grey;
  border-radius: 5%;
  border-width: thin;
  background-color: rgba(222, 196, 165, 0.941);
}
.kinesiologos .kinesiologos__section .kinesiologos__nav .img__kinesio {
  height: 35vh;
  width: 30vh;
  border-radius: 5%;
  margin-top: 1rem;
}
.kinesiologos .kinesiologos__section .kinesiologos__nav .kinesiologos__p {
  margin-top: 1.5rem;
  display: flex;
}

.servicios__section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.795);
  font-size: 54px;
  text-transform: uppercase;
  background-image: url(../../Imagenes/Servicios\ main.jpg);
}

.servicioscontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  padding: 1.5rem 0rem;
}
.servicioscontainer .servicioscard {
  height: auto;
  width: 22rem;
  background-color: black;
  opacity: 1;
  cursor: pointer;
}
.servicioscontainer .servicioscard .card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 30px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.servicioscard:hover img {
  opacity: 0.5;
}

.subservicios__tobilloypie {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.795);
  font-size: 54px;
  text-transform: uppercase;
  background-image: url(../../../Imagenes/servicios1.jpg);
}

.subservicios__rodilla {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.795);
  font-size: 54px;
  text-transform: uppercase;
  background-image: url(../../../Imagenes/servicios2.jpg);
}

.subservicios__ejercicio {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.795);
  font-size: 54px;
  text-transform: uppercase;
  background-image: url(../../../Imagenes/servicios3.jpg);
}

.subservicios__dolor {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.795);
  font-size: 54px;
  text-transform: uppercase;
  background-image: url(../../../Imagenes/servicios4.jpg);
}

.subservicios__acupuntura {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.795);
  font-size: 54px;
  text-transform: uppercase;
  background-image: url(../../../Imagenes/servicios5.jpg);
}

.subservicios__ondadechoque {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.795);
  font-size: 54px;
  text-transform: uppercase;
  background-image: url(../../../Imagenes/servicios6.jpg);
}

.subservicios__parrafo {
  display: flex;
  flex-direction: column;
  padding: 2rem 2.5rem;
  justify-content: space-between;
  font-size: 15px;
}
.subservicios__parrafo h3 {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
}
.subservicios__parrafo p {
  padding: 1rem 0rem;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 500;
}
.subservicios__parrafo p strong {
  font-size: 18px;
  color: rgb(69, 67, 77);
  text-decoration: underline;
}

.educacion__section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.795);
  font-size: 54px;
  text-transform: uppercase;
  background-image: url(../../../Imagenes/educationMain.jpg);
}

.educacion__fisioterapia {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.795);
  font-size: 54px;
  text-transform: uppercase;
  background-image: url(../../../Imagenes/education4.png);
}

.educacion__fascitisplantar {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.795);
  font-size: 54px;
  text-transform: uppercase;
  background-image: url(../../../Imagenes/education3.png);
}

.educacion__osteoartritis {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.795);
  font-size: 54px;
  text-transform: uppercase;
  background-image: url(../../../Imagenes/education2.png);
}

.educacion__pilates {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.795);
  font-size: 54px;
  text-transform: uppercase;
  background-image: url(../../../Imagenes/education5.png);
}

.educacion__rodilla {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.795);
  font-size: 54px;
  text-transform: uppercase;
  background-image: url(../../../Imagenes/education6.png);
}

.educacion__sonido {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.795);
  font-size: 54px;
  text-transform: uppercase;
  background-image: url(../../../Imagenes/education1.png);
}

.turnos_mapa {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Turnos_HorariosTitle, .Turnos_ReservaTitle, .turnos_ubicacion {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
}
@media screen and (max-width: 767.5px) {
  .Turnos_HorariosTitle, .Turnos_ReservaTitle, .turnos_ubicacion {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
  }
}

.Horarios {
  background-color: rgba(139, 147, 146, 0.32);
}

.Turnos_ReservaTitle, .turnos_ubicacion {
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=main.css.map */