
.card{
    padding: 0rem; 
    margin: 1rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly !important;
    .card-img-top {
        height: 200px;
    }
    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .card-title{
            font-weight: 600;
            font-size: 22px;
        }
    }
}

.cards1{
    background-color: map-get($colores,"backgroundIndex" );
    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .card-img-top {
        height: 200px;
    }
    .card_boton {
        background-color:#0d6efd;
    }
    .card_boton:hover {
        transition-duration: 400ms;
        background-color: red;
    }
}

