.cards1{
    background-color: map-get($colores,"backgroundIndex" );
    .row {
        @media only screen and (min-width:1057px){
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            padding: 1rem;
            justify-items: center;
    }
}

.card{
    padding: 0rem; 
    margin: 1rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly !important;
    }
    .card-img-top {
        height: 200px;
    }
    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .card-title{
            font-weight: 600;
            font-size: 22px;
        }
    }
    .card-img-top {
        height: 200px;
    }
    .btn {
        background-color:#4609fa;
    }
    .btn:hover {
        transition-duration: 400ms;
        background-color: rgba(17, 0, 255, 0.607);
    }
}





