.educacion__section {
    @include cabecera;
    background-image: url(../../../Imagenes/educationMain.jpg);
}


.educacion__fisioterapia{
    @include subservicios;
    background-image: url(../../../Imagenes/education4.png);
}

.educacion__fascitisplantar {
    @include subservicios;
    background-image: url(../../../Imagenes/education3.png);
}

.educacion__osteoartritis{
    @include subservicios;
    background-image: url(../../../Imagenes/education2.png);
}

.educacion__pilates{
    @include subservicios;
    background-image: url(../../../Imagenes/education5.png);

}
.educacion__rodilla{
    @include subservicios;
    background-image: url(../../../Imagenes/education6.png);
}

.educacion__sonido{
    @include subservicios;
    background-image: url(../../../Imagenes/education1.png);
}

.educacion{
    display: flex;
    flex-direction: column;
    padding: 2rem 2.5rem;
    justify-content: space-between;
    h3{
     @include h3
    }
    p{
        @include p;
        strong{
            font-size: 20px;
            color: rgb(69, 67, 77);
            text-decoration: underline;
        }
    }
}

