@import "./maps";

.header {
    background-color: map-get($colores,"Header" );
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top:0%;
    &__p {
        color:white;
        display: flex;
        align-items: center;
        font-size: 30px;
    }
}

.logo {
    max-width: 130px;
}
