@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300&display=swap');

.quienes{
    background-color: map-get($colores,"marron");
    &__h2{
        @include h2
    }
    &__hr{
        @include hr
    }
    &__p{
        @include p
    }
    &__img{
        @include img
    }

    &__section{
        padding-top: 2rem;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 2rem;
    }
    &__personal{
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content:space-around;
        background-color: rgb(169, 143, 57);
        width: 500px;
        border-radius: 5%;
        color: white;
        
        &__img {
            padding-top: 1rem;
            border-radius: 5%;
            width: 90%;
            height: 70%;
        }
        &__p{
            font-size: 25px;
            padding:0 2rem;
        }
    }
}


.box{
  width: 300px; height: 650px; margin: auto;
  background-color: transparent; border: solid 3px #fff;
  margin-bottom: 90px;
  background: linear-gradient(rgb(228, 217, 180), white) no-repeat center center;
  background-size: 300px 210px;
  background-position:left top;
  background-color: #fff;
}
.text{
    padding-top: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 45px; position: absolute center;
  display: inline-block; text-align: center;
  padding-left: 4%;
}
.text1{
  font-family: 'Open Sans', sans-serif;
  font-size: 29px; text-align: center;
  margin-top: -40px;
  padding-top: 1rem;
}
.text2{
  font-family: 'Lato', sans-serif; font-size: 18px; text-align: left;
  margin-top: 20px; margin-left: 20px; margin-right: 20px; 
  padding-top: 20px;padding-bottom: 20px; padding-left: 15px; 
  padding-right: 15px;
  border: solid 3px #eee;
}
.image{
  text-align: center;
  width: 250px; height: 250px;
  box-shadow: 0 0 0 2px #eee;
  background: url("../../../Imagenes/kinesiologos/enzo.PNG")  top no-repeat; background-size: cover; margin: 8%;
  margin-top: 50px; margin-bottom: -30px; align-content: center;
  border-radius: 50%;
}
