

.quienes{
    background-color: map-get($colores,"marron");
    &__h2{
        @include h2
    }
    &__hr{
        @include hr
    }
    &__p{
        @include p
    }
    &__img{
        @include img
    }

    &__section{
        padding-top: 2rem;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 2rem;
    }
    &__personal{
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content:space-around;
        background-color: rgb(169, 143, 57);
        width: 500px;
        border-radius: 5%;
        color: white;
        
        &__img {
            padding-top: 1rem;
            border-radius: 5%;
            width: 90%;
            height: 70%;
        }
        &__p{
            font-size: 25px;
            padding:0 2rem;
        }
    }
    &__card{
        @include card;
        &--img{
            width:50%;
            border-radius: 1rem;
            
        }
        &--p{
            color: map-get($colores,"marron");
            font-size: 1.5rem;
            @media only screen and (max-width:768px){
                font-size: 1.25rem;
            }
        }
      }
}