@mixin cabecera {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.795);
    font-size: 54px;
    text-transform: uppercase;
}

@mixin subservicios {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.795);
    font-size: 54px;
   text-transform: uppercase;
}

@mixin QueriesCards{
    @media only screen and (min-width:1057px){
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 1rem;
        justify-items: center;
}
}

@mixin h2 {
    font-size: 3rem;
    padding: 2rem;
    color: map-get($colores,"beige");
    text-align: center;
    @media only screen and (max-width:768px){
        font-size: 2.5rem;
    }
}

@mixin h3 {
    h3{
        font-family: 'Roboto', sans-serif;
        font-size: 28px;
    }
}

@mixin hr {
    border-style: solid;
    border-width: 0.15rem;
    border-color: map-get($colores,"beige")
}

@mixin p {
            padding: 1rem 0rem;
        font-family: 'Montserrat', sans-serif;
        font-size: 17px;
        font-weight: 500;
    @media only screen and (max-width:768px){
            font-size: 1.25rem;
    }

}

@mixin li {
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}

@mixin card {
    background-color: map-get($colores,"beige");
    color: map-get($colores,"marron");
    border-radius: 1rem;
}

@mixin img {
    width:85%;
    border-radius: 5%;
    padding: 1rem;
}

