
.subservicios__tobilloypie {
    @include subservicios;
    background-image: url(../../../Imagenes/servicios1.jpg);
}

.subservicios__rodilla {
    @include subservicios;
    background-image: url(../../../Imagenes/servicios2.jpg);
}

.subservicios__ejercicio{
   @include subservicios;
   background-image: url(../../../Imagenes/servicios3.jpg);
}

.subservicios__dolor {
    @include subservicios;
    background-image: url(../../../Imagenes/servicios4.jpg);
}

.subservicios__acupuntura{
    @include subservicios;
    background-image: url(../../../Imagenes/servicios5.jpg);
}

.subservicios__ondadechoque {
    @include subservicios;
    background-image: url(../../../Imagenes/servicios6.jpg);
}


.subservicios__parrafo{
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem;
    justify-content: space-between;
    font-size: 15px;
    font-family: var( --e-global-typography-text-font-family ), Sans-serif; 
}



